[submodule "libraries/m5stack"]
	path = libraries/m5stack
	url = https://github.com/jfm0/m5stack
[submodule "libraries/libraries/m5Core2"]
	path = libraries/libraries/m5Core2
	url = https://github.com/jfm0/M5Core2
